;;
;;  angara.net/skichat: base config
;;

{
  :dev true

  :tz "Asia/Irkutsk"

  :mdb 
  {
    :angara { :uri "mongodb://user:pass@localhost:22022/angara"}
    :meteo  { :uri "mongodb://user:pass@localhost:22022/meteo"}}
  
  :psql 
  {
    :jdbc-url "jdbc:postgresql://localhost:5516/angara"
    :username "angara"
    :password ""}
  ;      
  
  ;; https://github.com/ring-clojure/ring/blob/master/ring-jetty-adapter/src/ring/adapter/jetty.clj
  :http 
  {
    :host  "127.0.0.1"
    :port  8001
    :join? false}
  
  :telegram 
  {
    :polling
    {
      :sender-sleep 5000
      :poll-limit   100
      :poll-timeout 3}}     ;; must be less than socket-timeout!

  
  ; ;; https://github.com/brettwooldridge/HikariCP
  ; :psql {
  ;   :jdbc-url "jdbc:postgresql://localhost:5516/angara"
  ;   ; :connection-timeout 30000
  ;   ; :idle-timeout 600000
  ;   ; :max-lifetime 1800000
  ;   ; :minimum-idle 10
  ;   ; :maximum-pool-size  10
  ;   ; :adapter "postgresql"
  ;   :username "angara"
  ;   :password "PASSWORD"
  ;   ; :database-name "database"
  ;   ; :server-name "localhost"
  ;   ; :port-number 5432
  ; }

  ; :yandex-metrika     "12139321"
  ; :mailru-top         "474619"
  ; :analytics          "UA-486770-1"

  :slowreq 
  {
    :ms 1000}

  :photo 
  {
    :convert-bin "/usr/bin/convert"}

  :cron 
  {
    :meteo 
    {
      :offset 30       ;; seconds
      :interval 900}}

  :forumnews 
  {
    :bot            :angara_bot
    :channel        "@angara_forum"
    :age-limit      86400    ;; 2+ hours (sec)
    :fetch-limit    100     ;; 
    :fetch-interval 600     ;; rescan period (sec)
    ; :title-length   100
    ; :text-length    100
    :topics-per-message 10}
  ;

  :bots 
  {
    :angarabot 
    {
      :name "angarabot"
      :apikey nil          ;; disabled when ampty
      :sender-sleep 5000
      :poll-limit 100
      :poll-timeout 3     ;; must be less than socket-timeout!
      :photo-dir "var/photos"
      :photo-url "..."}

    :angara_bot
    {
      :name "angara_bot"
      :apikey nil}          ;; disabled when ampty

    :meteo38bot 
    {
      :name "meteo38bot"
      :apikey nil
      :sender-sleep 5000
      :poll-limit 100
      :poll-timeout 3}     ;; must be less than socket-timeout!

    :skichat 
    {
      :name "skichat"
      :apikey nil          ;; bot start disabled when ampty
      :sender-sleep 5000
      :poll-limit 100
      :poll-timeout 3
      :api-error-sleep 3000}}

  ;; /bots    
  

  :weather
  {
    :darksky
    {
      :api "https://api.darksky.net/forecast/"
      :key "DARKSKYAPIKEY"
      :latlng "54,101"
      :params "?lang=ru&units=si&exclude=minutely"
      :timeout 3000}}
    
  

  ; :locations {
  ;   "иркутск"
  ;   "байкальск"
  ;   "листвянка"
  ;   "мамай" "51.391531, 104.846785"
  ; }

  :sendmail 
  {
    :smtp 
    {
      :host "smtp.yandex.com"
      :ssl  true
      :port 465
      :user "noreply@angara.net"
      :pass "PASSWORD"}

    :envel 
    {
      :from "noreply@angara.net"
      :to []
      :subject ""}}}
    
;;.  



;;.
