
{
  :dev false

  :mdb {
    :angara { :uri "mongodb://angara:angaweb.6@localhost:22022/angara" }
    :meteo  { :uri "mongodb://meteo:metaweb.6@localhost:22022/meteo"  }
  }

  :bots {
    ;; angarabot
    :angarabot {
      :apikey "178997269:AAHFnR0rEmv8VIyLh50GEtySASgt2JyzdfY"
    }

    ;; SkiChatBot
    :skichat {
      :apikey "161285665:AAGGMNIHjxYooJXUR6xTDraxM9hGXTVaj1w"
      :sender-sleep 5000
      :poll-limit 100
      :poll-timeout 3     ;; must be less than socket-timeout!
    }
  }

  :weather
  {
    :darksky
    {
      :key "95aac98ac22e7664ff4ded3f783b7bcf"
    }
  }

  :sendmail {
    :smtp {
      :user "noreply@angara.net"
      :pass "anga.smtp16"
    }
  }

}
