;;
;;  angara.net/meteo38_bot: base config
;;

{
 :tz "Asia/Irkutsk"

 :mdb 
 {
  :angara {:uri "mongodb://user:pass@localhost:22022/angara"}
  :meteo  {:uri "mongodb://user:pass@localhost:22022/meteo"}
  }
 
 :psql { :jdbc-url "jdbc:postgresql://localhost:5432/angara?username=angara&password=...." }
 
 :telegram 
 {
  :apikey "" ; !!
  :polling
  {
   :sender-sleep 5000
   :poll-limit   100
   :poll-timeout 3}}     ;; must be less than socket-timeout!
 
 :cron 
 {
  :meteo 
  {
   :offset 30       ;; seconds
   :interval 900}}
 
 }

